<p>
  vuelos works!
</p>

<div class="navLinks">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['./main']">Main</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['./mas-info']">Mas Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['./', 5]">Vuelo 5</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>