<form
    [formGroup]="fg"
    (ngSubmit) ="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre"
            [formControl]= "fg.controls['nombre']">
            <!--Lista de Sugerencias-->
            <ul>
                <li *ngFor="let r of searchResults">{{r}}</li>
            </ul>
            <!--Agregar mensajes de validación-->
            <!--<div class="alert alert-danger" role="alert" *ngIf="!fg.controls['nombre'].valid">Nombre Invalido!</div> --> <!-- .valid forma estandar -->
            <!--<div class="alert alert-danger" role="alert" *ngIf="fg.controls['nombre'].hasError('required')">Nombre Requerido!</div> .hasError Codigo de error -->
            <!-- Validaciones custom personalizadas -->
            <div class="alert alert-danger" role="alert" *ngIf="fg.controls['nombre'].hasError('invalidName')">Nombre Invalido!</div> 
            <div class="alert alert-danger" role="alert" *ngIf="fg.controls['nombre'].hasError('minLongName')">Nombre debe tener al menos {{minLongitud}} de largo!</div>
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url"
            [formControl]= "fg.controls['url']">
            <div class="alert alert-danger" role="alert" *ngIf="fg.controls['url'].hasError('required')">Url Requerido!</div>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>