
  <div class="card-content text-center" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
      <img src="https://placeimg.com/380/230/nature" alt="">
      <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
      <h3>{{destino.nombre}}</h3>
      <p>Servicios</p>
      <ul style="list-style:none">
        <li *ngFor="let servicio of destino.servicios">
          <span [ngSwitch]="servicio">
            <i *ngSwitchCase="'desayuno'" style="color: red;">{{ servicio }}</i>
            <i *ngSwitchDefault>{{ servicio }}</i>
          </span>
        </li>
      </ul>
      <button type="button" class="btn btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir!</button>
      <hr class="ml-3">
      <!--[style.display] Manipular el dispplay de css-->
      <!--<span [style.display]="destino.isSelected() ? '' : 'none'">- Preferido -</span>-->
      <span *ngIf="destino.isSelected()" class="card-subtitle">
        <span ngNonBindable>Preferido</span>
        <hr class="ml-3">
      </span>
      
      <a [routerLink]="['/destino', destino.id]">Ver detalle</a>
      <hr class="ml-3">
      <div class="text-center">
          <button type="button" (click)="voteUp()" class="btn btn-primary" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"><i class="oi oi-thumb-up">Up</i></button>
      </div>
      <hr class="ml-3">
      <div class="text-center">
        <button type="button" (click)="voteDown()" class="btn btn-primary" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"><i class="oi oi-thumb-down">Down</i></button>
      </div>
      <hr class="ml-3">
      <button type="button" class="btn btn-primary">
        Votes <span class="badge badge-light">{{ destino.votes }}</span>
      </button>
    </div>
    
  </div>
