<div class="container content">
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Ruteo Simple</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/destino']">Destino</a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="float: right;">
    <select (change)="translate.use($event.target.value)" class="btn btn-default">
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>
  
  <div class="row col-md-6  ">
    <h1>
      {{ title }} 
    </h1>
  </div>

  <!--<app-lista-destinos></app-lista-destinos>-->
  <router-outlet></router-outlet>
  <!--
  <input name="titulo" type="text" #titulo>
  <input name="titulo" type="submit" (click)="agregar(titulo.value)">
-->
  <hr class="md-5">
    <footer class="footer" style="margin: 10px;">
      <div class="row justify-content-end">
          <span class="badge badge-info">{{ time | async }}</span>
      </div>
    </footer>
</div>

